:root {
  --bg-primary: #1045A6;
  --bg-secondary: #F09509;
  --bg-error: #CB2710;
  --text-color: #000; /* Default text color */
}

/* Classic Theme */
[data-theme='classic'] {
  --bg-primary: #1045A6; /* Classic primary color */
  --bg-secondary: #F09509; /* Classic secondary color */
  --bg-error: #CB2710; /* Classic error color */
}

/* Modern Theme */
[data-theme='modern'] {
  --bg-primary: #1D4ED8; /* Modern primary color */
  --bg-secondary: #F97316; /* Modern secondary color */
  --bg-error: #DC2626; /* Modern error color */
}

/* Dark + Classic */
[data-theme='dark'][data-theme='classic'] {
    --bg-primary: #2563EB;
    --bg-secondary: #FB923C;
    --bg-error: #EF4444;
}

/* Dark + Modern */
[data-theme='dark'][data-theme='modern'] {
  --bg-primary: #2563EB;
  --bg-secondary: #FB923C;
  --bg-error: #EF4444;
}
